@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body,
html {
  margin: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}



body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.clock {
  &-day {
    &:before {
      content: var(--timer-day);
    }
  }
  &-hours {
    &:before {
      content: var(--timer-hours);
    }
  }
  &-minutes {
    &:before {
      content: var(--timer-minutes);
    }
  }
  &-seconds {
    &:before {
      content: var(--timer-seconds);
    }
  }
}

body {
  font-family: 'Lato', 'sans-serif';
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  &-container {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #4a4a4a;
    border-radius: 25px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 9.91px 9.91px 15px #434343, -9.91px -9.91px 15px #515151;
    justify-content: center;
    width: 450px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
  }
  &-col {
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    min-width: 90px;
    position: relative;
    box-shadow: inset 9.91px 9.91px 15px #434343, inset -9.91px -9.91px 15px #515151;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    &:not(:last-child):before,
    &:not(:last-child):after{
      content: "";
      background-color: rgba(255,255,255,.3);
      height: 5px;
      width: 5px;
      display: block;
      position: absolute;
      right: -42px;
    }
    &:not(:last-child):before {
      top: 40%;
    }
    &:not(:last-child):after {
      top: 55%;
    }
  }
  &-timer {
    color: white;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #bfbfbf;
  }
  &-label {
    color: rgba(255,255,255,.35);
    text-transform: uppercase;
    font-size: .7rem;
    margin-top: 10px;
  }
}

@media (max-width: 825px) {
  .clock-container {
  flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .clock-col {
    & + & {
      margin-top: 20px;
    }
    &:before,
    &:after {
      display: none!important;
    }
  }
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

$len: 300px;
$time: 3000ms;

#infinity-outline {
  fill: transparent;
  stroke-width: 4;
  stroke: #582a6b;
  stroke-dasharray: $len*0.01, $len;
  stroke-dashoffset: 0;
  animation: anim $time linear infinite;

}

#infinity-bg {
  fill: transparent;
  stroke-width: 4;
  stroke: #424242;
  opacity: 0.2;
}

@keyframes anim {
  12.5% {
    stroke-dasharray: $len*0.14, $len;
    stroke-dashoffset: -$len*0.11;
  }

  43.75% {
    stroke-dasharray: $len*0.35, $len;
    stroke-dashoffset: -$len*0.35;
  }

  100% {
    stroke-dasharray: $len*0.01, $len;
    stroke-dashoffset: -$len*0.99;
  }
}

html body .rw-main {
  background: #4a4a4a;
  box-shadow: 9.91px 9.91px 15px #434343, -9.91px -9.91px 15px #515151;
  transform: scale(0.75);
  color: #bfbfbf;

  .rw-box-right i {
    font-size: 100px;
    padding-right: 45px;
    padding-left: 40px;
  }

  .rw-today {

    .date,
    .desc,
    .range,
    .hr,
    .info,
    .wicon {
      color: #bfbfbf;
    }
  }
}