@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import-normalize;
body,
html {
  margin: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clock-day:before {
  content: var(--timer-day);
}

.clock-hours:before {
  content: var(--timer-hours);
}

.clock-minutes:before {
  content: var(--timer-minutes);
}

.clock-seconds:before {
  content: var(--timer-seconds);
}

body {
  font-family: 'Lato', 'sans-serif';
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clock-container {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #4a4a4a;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 9.91px 9.91px 15px #434343, -9.91px -9.91px 15px #515151;
          box-shadow: 9.91px 9.91px 15px #434343, -9.91px -9.91px 15px #515151;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100px;
}

.clock-col {
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  min-width: 90px;
  position: relative;
  -webkit-box-shadow: inset 9.91px 9.91px 15px #434343, inset -9.91px -9.91px 15px #515151;
          box-shadow: inset 9.91px 9.91px 15px #434343, inset -9.91px -9.91px 15px #515151;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.clock-col:not(:last-child):before, .clock-col:not(:last-child):after {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  height: 5px;
  width: 5px;
  display: block;
  position: absolute;
  right: -42px;
}

.clock-col:not(:last-child):before {
  top: 40%;
}

.clock-col:not(:last-child):after {
  top: 55%;
}

.clock-timer {
  color: white;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #bfbfbf;
}

.clock-label {
  color: rgba(255, 255, 255, 0.35);
  text-transform: uppercase;
  font-size: .7rem;
  margin-top: 10px;
}

@media (max-width: 825px) {
  .clock-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .clock-col + .clock-col {
    margin-top: 20px;
  }
  .clock-col:before, .clock-col:after {
    display: none !important;
  }
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loading svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#infinity-outline {
  fill: transparent;
  stroke-width: 4;
  stroke: #582a6b;
  stroke-dasharray: 3px, 300px;
  stroke-dashoffset: 0;
  -webkit-animation: anim 3000ms linear infinite;
          animation: anim 3000ms linear infinite;
}

#infinity-bg {
  fill: transparent;
  stroke-width: 4;
  stroke: #424242;
  opacity: 0.2;
}

@-webkit-keyframes anim {
  12.5% {
    stroke-dasharray: 42px, 300px;
    stroke-dashoffset: -33px;
  }
  43.75% {
    stroke-dasharray: 105px, 300px;
    stroke-dashoffset: -105px;
  }
  100% {
    stroke-dasharray: 3px, 300px;
    stroke-dashoffset: -297px;
  }
}

@keyframes anim {
  12.5% {
    stroke-dasharray: 42px, 300px;
    stroke-dashoffset: -33px;
  }
  43.75% {
    stroke-dasharray: 105px, 300px;
    stroke-dashoffset: -105px;
  }
  100% {
    stroke-dasharray: 3px, 300px;
    stroke-dashoffset: -297px;
  }
}

html body .rw-main {
  background: #4a4a4a;
  -webkit-box-shadow: 9.91px 9.91px 15px #434343, -9.91px -9.91px 15px #515151;
          box-shadow: 9.91px 9.91px 15px #434343, -9.91px -9.91px 15px #515151;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  color: #bfbfbf;
}

html body .rw-main .rw-box-right i {
  font-size: 100px;
  padding-right: 45px;
  padding-left: 40px;
}

html body .rw-main .rw-today .date,
html body .rw-main .rw-today .desc,
html body .rw-main .rw-today .range,
html body .rw-main .rw-today .hr,
html body .rw-main .rw-today .info,
html body .rw-main .rw-today .wicon {
  color: #bfbfbf;
}
/*# sourceMappingURL=App.css.map */